@media (max-width: 87em) {
  .main-heading {
    font-size: 6rem;
  }
}
@media (max-width: 67em) {
  html {
    font-size: 60%;
  }
  .nav-lists {
    display: none;
  }
  .mobile {
    display: block;
  }
  .main {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero-image {
    height: 30rem;
  }
  .section {
    grid-template-columns: 1fr;
  }
  .section-2 {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .section-2-img {
    height: 20rem;
  }
  .template-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
  }
  .teamwork {
    grid-template-columns: 1fr;
  }
  .profile-grid {
    grid-template-columns: 1fr;
  }
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
  .end {
    flex-direction: column;
  }
  .teamwork-img {
    width: 30rem;
  }
}
@media (max-width: 39em) {
  html {
    font-size: 50%;
  }
  .main-heading {
    font-size: 4rem;
  }
  .hero-image {
    height: 20rem;
  }
  .accordion {
    display: none;
  }
  .main-images {
    flex-wrap: wrap;
    justify-content: center;
  }
  .icon {
    height: 10rem;
  }
  .template-grid {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
  .section-2-img {
    height: 10rem;
  }
  .section-heading {
    font-size: 2rem;
  }
  .section-description {
    font-size: 1.4rem;
  }
}
