@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  color: #111;
  background-color: #fffefc;
}
:root {
  --primary-color: #111;
  --secondary-color: #555;
  --accent-color: #e06258;
}

/* nav-bar */
.nav-bar {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 3.4rem;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-lists {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-links {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem;
}
.nav-links:hover {
  background-color: #eeeeee;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: ease-in;
}
.arrow {
  font-size: 1rem;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.btn {
  background-color: var(--accent-color);
  padding: 1rem 1.5rem;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}
.btn:hover {
  background-color: #ca584f;
  padding: 1rem;
}
.nav-dropdown {
  background-color: #fdfeff;
  padding: 1rem;
  border: 0.5px solid #555;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  display: none;
  box-shadow: 0 0 3px #555;
}
.dropdown-heading {
  font-size: 1.4rem;
  font-weight: 600;
}
.dropdown-description {
  font-size: 1.2rem;
  color: #555;
  font-weight: 400;
}
.dropdown-section {
  padding: 0.5rem;
}
.dropdown-section:hover {
  background-color: #eeeeee;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.dropdown-button {
  border: 1px solid #555;
  border-radius: 0.5rem;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--primary-color);
  padding: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.nav-lists li:hover .nav-dropdown {
  display: block;
  position: absolute;
  top: 5rem;
}
.dropdown-grid {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  gap: 2rem;
  background-color: #fdfeff;
  border: 1px solid #555;
  padding: 1rem;
  box-shadow: 0 0 3px #555;
  display: none;
}

.nav-lists li:hover .dropdown-grid {
  display: grid;
  position: absolute;
  top: 5rem;
}
.dropdown-img {
  height: 3.2rem;
}
.grid-1 {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.grid-2 {
  margin-top: 0.5rem;
}
.grid-3 {
  margin-top: 0.5rem;
}
.head {
  font-size: 1rem;
}
